body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2E294E;
    color: #F1E9DA;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    text-align: center;
    padding-top: 2rem;
}

i {
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
}

i:hover {
    opacity: 0.7;
    cursor: pointer;
}

table {
    max-width: 55%;
}

table caption {
    font-size: x-large;
}

table.column {
    max-height: 100%;
}

h2 {
    text-align: center;
    color: #D90368;
}

.doors {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    cursor: pointer;
}

img {
    width: 12%;
    margin: 0 1rem 0 1rem;
}

button {
    visibility: hidden;
    padding: 1rem;
    background-color: #f1e9da;
    color: #2E294E;
    border-radius: 2px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: #d3c6af;
}

.charts-css.column.reverse tbody tr,.charts-css.column:not(.reverse) tbody tr td {
    align-items: flex-end !important;
}

.charts-css.show-heading {
    --heading-size: 2.5rem !important;
}